$accent-color: #FBDC4D;
// $accent-color-hover: #ff6a00;
$black-color: #000000;
$footer-color: #333333;
$blue-color:#1A71D2;
$pale-blue:#F5FBFF;
$background-position-small: 11px;
$background-position-big: 15px;
$background-position-extra-small: 4px;
$background-size-small: 8px;
$background-size-big: 12px;
$background-size-extra-small: 6px;
