.footer{
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: $footer-color;
    /* Tablet Big*/
    @media (max-width: 1139px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.footer-initials {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
}
.footer__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #B0B0B0;
    /* Tablet Big*/
    @media (max-width: 1139px) {
        font-size: 14px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        & p + p {
            margin-top: 29px;
        }
    }
}
.footer__description a {
    text-decoration: underline;
    color: #FFFFFF;
}
