form{
    width: 540px;
    padding: 62px 50px 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 100px -10px rgba(160, 206, 237, 0.75);
    /* Tablet Big*/
    @media (max-width: 1139px) {
        width: 380px;
        padding: 55px 40px 40px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        width: 300px;
        padding: 30px 15px 15px;
    };
   
    /* Mobile */
    @media (max-width: 767px) {
        width: 290px;
        padding: 44px 15px 49px;
    }
}
.contact-form > .form-item + .form-item{
    margin-top: 52px;
    /* Tablet Big*/
    @media (max-width: 1139px) {
        margin-top: 45px;
    }
    /* Mobile */
    @media (max-width: 767px) {
        margin-top: 30px;
    }
}
.fake-placeholder textarea > .form-field{
    border-bottom: 2px solid #E5E5E5;
}

.form-item{
    position: relative;
    border-bottom: 2px solid #E5E5E5;
    &:last-child{
        border-bottom: none;
        margin-top: 30px;
        
    };
    &:first-child{
        height: 39px;
    };
    &:active{
        border-bottom: 2px solid #FF543E;

    }
}
.fake-placeholder.activity{
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #ECA73F;
    top:-20px;
}


.fake-placeholder{
    pointer-events: none;
    position:absolute;
    left: -3px;
    top:-10px;
    transition: top .2s ease-in;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.6;
    color: #9D9D9D;
    /* Tablet Big*/
    @media (max-width: 1139px) {
        font-size: 20px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        font-size: 18px;
    }
    
   
}











