.button-solid{
    padding-left: 40px;
    padding-right: 40px;
    background-color: 
    #fff;
    height: 60px;
    border-radius: 30px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.2);

    font-weight: 800;
    color: 
    #2E2E2E;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer; 
    
    &:hover{
        background-color: 
        #000000;
        color: #fff;
    }
    &:focus{
        outline: none;
        background-color: 
        #414141;
    }
}

